.title-container {
  text-align: center;
  padding: 12px;
  font-size: 30px;
  background-color: #3c7963;
  color: white;
}
.title {
  font-size: 40px;
  font-weight: 500;
  padding: 20px 16px;
  text-align: center;
  line-height: 1;
}
.description {
  /*width: 620px;*/
  text-align: start;
  text-indent: 2em;
  font-size: 18px;
  margin: 0 auto;
  line-height: 2;
}
.white-container {
  color: #3c7963;
  background-color: #fff;
  padding: 40px 5%;
  min-height: 280px;
  text-align: center;
  font-size: 16px;
}
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.card {
  font-size: 16px;
  color: #3c7963;
  border: 1px #3c7963 solid;
  width: 150px;
  height: 90px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item-title {
  color: rgb(1, 38, 72);
  font-size: 24px;
  /*margin-bottom: 15px;*/
  border-bottom: 3px solid #458c71;
  padding-bottom: 10px;
  margin: 20px 0;

}
.img-container {
  /*padding-top: 20px;*/
  /*padding-left: 20px;*/
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.grape-carousel .slick-slide > div {
  margin: 0 8px;
}
.grape-carousel .slick-list {
  margin: 0 -8px;
}
.grape-carousel .slick-arrow {
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #507D5A !important; /* 你的主题绿色 */
  opacity: 0.8;
}
.grape-carousel .slick-arrow:hover {
  opacity: 1;
}
.grape-carousel .slick-prev {
  left: 20px;
}
.grape-carousel .slick-prev::after {
  transform: rotate(-45deg) translateY(15px);
}
.grape-carousel .slick-next::after {
  transform: rotate(135deg) translateY(-15px);
}
.grape-carousel .slick-next {
  right: 20px;
}
.custom-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #d9d9d9;
}
.custom-dots li.slick-active button {
  width: 24px;
  background: #507D5A;
}
.img-bg {
  background: radial-gradient(
      circle at center,
      rgba(144, 238, 144, 0.4) 0%,
      rgba(144, 238, 144, 0.2) 40%,
      transparent 70%
  );
}

